<div class='c-widget'>
  <h3 class='c-widget__title'>Newsletter</h3>
  <p>Get new blog and store updates delivered to your inbox.</p>
  <form method='post'
        target='_blank'
        class='c-subscribe-form'
        action='//btamps.us9.list-manage.com/subscribe/post?u=bda6fb4150fc5963594148882&amp;id=507f1e6b37'>
    <div class='form-group'>
      <input type='email' name='EMAIL' class='c-subscribe-form__input' placeholder='Your Email'>
    </div>
    <input type='submit' class='c-subscribe-form__btn c-btn c-btn--full c-btn--small' value='Subscribe'>
  </form>
</div>
